.App {
    text-align: center;
    font-family: 'Arial', sans-serif;
  }
  
  h1 {
    color: #333;
  }
  
  .user-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .user-card {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    max-width: 300px;
    text-align: left;
  
    h3 {
      color: #333;
    }
  }
  