.container {
  width: 90%;
  padding: 2rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  & > div {
    padding: 1em;
    background-color: rgb(18, 141, 100);
    color: #fff;
  }
  input {
    padding: 12px;
    width: 100%;
    font-size: 20px;
  }
}
