.main{
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-clip: content-box;
    header{
        background-color: rgba(0, 0, 0, 0.382);
        height: 100vh;
        width: 100%;

        p{
            color: white;
            font-size: 64px;
            font-weight: 200;
            margin-top: 40vh;
            text-align: center;
        }

        nav{
            background-color: black;
            ul{
                &:first-child{
                    margin-left: 1200px;
                }
                li{
                    display: inline-block;
                    color: white;
                    font-size: 24px;
                    padding: .5em;
                    background-color: black;
                    margin-left: 30px;
                    cursor: pointer;
                    select{
                        border: none;
                        cursor: pointer;
                        font-size: 24px;
                        padding: .5em;
                        color: white;
                        background-color: black;
                    }
                    &:hover{
                        background-color: rgba(118, 118, 118, 0.476);
                    }
                    a{
                        color: white;
                        text-decoration: none;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}