body{
    width: 1200px;
}
button{
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    background-color: palevioletred;
    border: none;
}

h1{
    width: 500px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
    color: red;
    word-wrap: break-word;
}
