.App {
  width: 780px;
  padding: 1em;
  margin: 0 auto;
  form {
    border: 2px solid teal;
    padding: 1em;
    border-radius: 10px;
    width: 500px;
    margin: 20px auto;
    input,
    select {
      padding: 12px;
      width: 100%;
      margin-top: 10px;
      margin-bottom: 4px;
      & + p {
        margin: 0;
        color: #ff3434;
        font-size: 16px;
      }
    }
  }
}
