@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.modal{
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0 0 0 0;
    background-color: rgba($color: #000, $alpha: 0.8);
    &__content {
        padding: 1em;
        background-color: #fff;
        border-radius: 14px;
        text-align: center;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        width: 425px;
        height: 150px;
       
    }h2{
            margin-top:15px ;
     } 
    button{
        padding: .5em 1.5em; 
        border: 0;
        margin: 35px 50px;
        cursor: pointer;
        font-size: 18px;
        font-weight: 500;
        border-radius: 8px;
       
        &.btn__cancel{
        background-color: royalblue;
        color: white; 
        } &:hover{
            background-color: rgba(0, 0, 0, 0.466);
        }
        &.btn__delete{
        background-color: red;
        color: white; 
      } &:hover{
            background-color: rgba(0, 0, 0, 0.466);
        }
    }
}