.footer{
    width: 100%;
    background-color: rgb(4, 4, 83);
    padding: 20px;
    text-align: center;
    margin-top: 100px;
    
    p{
        font-size: 20px;
        color: white;
    }
    
}