.App {
  min-height: 100vh;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
::-webkit-scrollbar {
  width: 12px;
  border: 1px black;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(0, 120, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(42, 190, 42);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: lime;
}
