.App {
  padding-top: 80px;
  background-color: white;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(0, 170, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: limegreen;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: lime;
}
