.Product {
  display: flex;
  align-items: center;
  justify-content: center;

  &__box {
    padding: 20px;
    margin: 50px 0 35px;
    width: 650px;
    border: 1px solid limegreen;
    border-radius: 10px;
    position: relative;

    .product-img {
      width: 100%;
      height: auto;
      border-bottom: 1px solid limegreen;
    }
    .go-back {
      position: absolute;
      font-size: 50px;
      top: -10px;
      left: -70px;
      color: limegreen;
      &:hover {
        color: rgb(0, 180, 0);
      }
    }
    .edit {
      position: absolute;
      font-size: 32px;
      top: -10px;
      right: -80px;
      color: orange;
      font-weight: 900;
    }

    .info {
      display: flex;
      justify-content: space-between;
      padding: 20px 0;

      .title {
        width: 30%;
        text-align: right;
        font-weight: bold;
        color: limegreen;
        font-size: 24px;
        font-weight: 700;

        p {
          margin-bottom: 15px;
        }
      }

      .desc {
        width: 65%;
        font-size: 24px;

        p {
          margin-bottom: 15px;
        }
      }
    }
  }
}
