.Edit {
  margin: 35px auto 0;
  padding: 20px;

  h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: limegreen;
    margin-bottom: 30px;
  }

  form {
    display: grid;
    grid-gap: 10px;
    width: 555px;

    div {
      display: flex;
      flex-direction: column;
      margin-bottom: 25px;

      label {
        font-weight: bold;
        margin-bottom: 5px;
        color: limegreen;
        font-size: 22px;
      }

      input,
      .category {
        padding: 12px 8px;
        font-size: 18px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }

      .error-message {
        color: red;
        font-size: 14px;
        margin-top: 5px;
      }
    }

    button {
      padding: 10px 20px;
      background-color: limegreen;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s;
      font-size: 24px;

      &:hover {
        background-color: green;
      }
    }
  }

  .loading {
    font-size: 18px;
    color: #333;
    text-align: center;
    margin-top: 50px;
  }
}
