.Home {
  * {
    text-align: center;
  }
  h1 {
    text-transform: uppercase;
    margin: 300px 0;
    font-size: 72px;
    letter-spacing: 30px;
  }
  h2 {
    margin-bottom: 50px;
    letter-spacing: 10px;
    font-size: 40px;
  }
  p {
    margin-bottom: 50px;
    font-size: 20px;
    font-style: italic;
    color: wheat;
  }
}
