.Home {
  * {
    text-align: center;
  }
  h1 {
    margin: 300px 0;
    font-size: 72px;
    letter-spacing: 30px;
    animation: fadeUp 1.5s ease-out forwards;
  }
  h2 {
    margin-bottom: 50px;
    letter-spacing: 10px;
    font-size: 40px;
  }
  p {
    margin-bottom: 50px;
    font-size: 20px;
    font-style: italic;
    color: wheat;
  }
  @keyframes fadeUp {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
