.About {
  h1 {
    text-align: center;
    letter-spacing: 10px;
    font-size: 48px;
    text-transform: uppercase;
    margin: 100px 0 200px;
  }
  p {
    font-size: 26px;
    font-style: italic;
    color: wheat;
  }
}
