.TextBox {
  width: 100%;
  display: flex;
  padding: 5px;
  gap: 20px;

  &__item {
    width: 33%;
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
    overflow: hidden;

    img {
      max-width: 100%;
      min-height: 50%;
    }

    div {
      padding: 20px;
      display: flex;
      flex-wrap: wrap;

      h2 {
        font-size: 19px;
        letter-spacing: -0.8px;
        color: #102030;
        font-weight: 900;
      }

      p {
        color: #909090;
        margin: 15px 0;
        font-size: 16px;
      }
    }
  }
}
