body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: #111;
  color: bisque;
}

h2 {
  padding: 1.5rem;
  border-radius: 12px;
  width: 300px;
  cursor: pointer;
  text-align: center;
}
