.userpage{
    .search {
        margin: 20px 0;
        width: 100%;
        cursor: pointer;
        border: 1px solid rgb(4, 4, 83);
        box-shadow: 0 0 5px 1px rgb(4, 4, 83);
        padding: 10px;
        font-size: 20px; 
        border-radius: 5px; 
    }
    h1 {
        text-align: center;
    }
    h3{
        width: fit-content;
        background-color: rgb(4, 4, 83);
        color: white;
        font-size: 20px;
        font-weight: 400;
        padding: 10px;
        cursor: pointer;  
    }
    .form{
        border-radius: 5px;
        padding: 10px;
        background-color: rgba(4, 4, 83, 0.2);
        margin: 40px 5px;
        width: 50%;
        box-shadow: 0 0 20px 15px rgba(4, 4, 83, 0.2);
        .submit{
            cursor: pointer;
            background-color: rgb(4, 4, 83);
            color: white;
            padding: 10px;
            font-size: 15px; 
            border-radius: 5px; 
        }
        .forms{
            margin: 10px;
            #title, #price, #select, #description, #image {
                cursor: pointer;
                height: 30px;
                width: 100%;
                font-size: 15px;
                border-radius: 5px;
            }
        }
    }
    .userPage {
        display: flex;
        gap: 30px;
        align-items: start;
        justify-content: space-evenly;
        width: 90%;
        margin: 0 auto;
        padding: 20px;
        flex-wrap: wrap;
        &__item {
            position: relative;
          width: 340px;
          margin: 12px;
          border: 2px solid #ccc;
          div {
            z-index: 1;
            width: 40px;
            height: 40px;
            background-color: white;
            position: absolute;
            top: 0;
            right: 0;
            svg{
                width: 100%;
                height: 100%;
                color: red;
            }
        }
          img {
            display: inline-block;
            object-fit: cover;
            width: 100%;
            height: 400px;
          }
          h2{
            padding: 0 15px ;
          }
        }
      }
}

.form{
    border-radius: 5px;
    padding: 10px;
    background-color: rgba(4, 4, 83, 0.2);
    margin: 40px auto;
    width: 50%;
    box-shadow: 0 0 20px 15px rgba(4, 4, 83, 0.2);
    .submit{
        cursor: pointer;
        background-color: rgb(4, 4, 83);
        color: white;
        padding: 10px;
        font-size: 15px; 
        border-radius: 5px; 
    }
    .forms{
        margin: 10px;
        #username, #password {
            cursor: pointer;
            height: 30px;
            width: 100%;
            font-size: 15px;
            border-radius: 5px;
        }
    }
}