.flex{
    display: flex;
    align-items: center;
    flex-wrap:wrap;
    gap: 40px;
    div{
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
        border-top:4px solid tomato;
        width: 350px;
        height: 200px;
        .delete{
            border: 0;
            background-color: rgb(241, 56, 23);
            color: white;
            border-radius: 5px;
            padding: .5em;
            font-size: 18px;
            margin-top: 35px;
            margin-left: 15px;
            cursor: pointer;
        }
    }
}