.App{
  width: 500px;
  height: 450px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  margin: 100px auto;
  form{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;   
    align-content: center;
    .bsn_check{
      width: 20px;
      margin: -7px 12px;
      border: none;
      cursor: pointer;
    }

    .bsnss{
      display: flex;
      margin-top: 20px;
    }


    .userns{
      margin-top: 40px;
    }

    
span{
  font-size: 24px;
  font-weight: 200;
  margin-top: 40px;
}
    input{
      margin: 10px 0;
      width: 400px;
      height: 35px;
      border: 1px solid rgb(90, 90, 90);
      border-radius:8px ;
      outline: none;
    }
    .button{
      margin-top: 40px;
      border: none;
      background-color: royalblue;
      color: white;
      cursor: pointer;
      height: 40px;
      font-size: 16px;
      &:hover{
        background-color: grey;
      }
      &:active{
        background-color: greenyellow;
        color: black;
      }
    }
  }
}

.container{
  width: 1200px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 50px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
    li{
      margin: 20px;
      border-radius: 5px;
      width: 200px;
      height: 250px;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
      span{
        display: block;
        margin-left: 2px;
        line-height: 24px;
      }
      button{
        border: none;
        cursor: pointer;
        background-color: white;
      }
    }
    .slashEye{
      cursor: pointer;
    }
  }
