.flex {
  display: flex;

  flex-wrap: wrap;
  gap: 24px;
  margin: 40px auto;
}

.flex>div {
  width: 400px;

  border-top: 4px solid tomato;
  padding: 1em;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.flex>div button {
  padding: 0.6rem 1rem;
  border: 1px solid tomato;
  font-weight: 500;
  border-radius: 6px;
  background-color: #b83333;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}