body {
  background-color: #000;
}

.App {
  max-width: 1200px;
  margin: 0 auto;
  color: #fff;
}

.App>h1 {
  background-color: #1d1d1d;
  text-align: center;
  color: grey;
  padding: 1em;
  font-size: 3em;
}

pre {
  background-color: #1d1d1d;
  padding: 1em;
  border-radius: 8px;
  border: 1px solid #fff;
  margin: 40px auto;
  width: 600px;
}