// App.scss

$primary-color: #3498db;
$error-color: #e74c3c;

.App {
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;

  form {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #ecf0f1;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    label {
      display: block;
      margin-bottom: 8px;
      font-weight: bold;
    }

    input {
      width: 100%;
      padding: 10px;
      margin-bottom: 16px;
      border: 1px solid #ddd;
      border-radius: 4px;
      box-sizing: border-box;
    }

    p {
      color: $error-color;
      margin-bottom: 16px;
    }

    input[type="submit"] {
      background-color: $primary-color;
      color: #fff;
      cursor: pointer;
      &:hover {
        background-color: darken($primary-color, 10%);
      }
    }
  }

  ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    li {
      width: calc(33.33% - 32px);
      margin: 16px;
      padding: 16px;
      background-color: #ecf0f1;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

      .ulSpan {
        font-weight: bold;
        margin-right: 8px;
      }

      .email,
      .username,
      .password {
        display: block;
        margin-top: 4px;
      }

      .password {
        position: relative;
        .FaRegEye,
        .FaRegEyeSlash {
          position: absolute;
          top: 50%;
          right: 10px;
          transform: translateY(-50%);
          cursor: pointer;
        }
      }
    }
  }
}
