:root {
  --light-bg-color: linear-gradient(130deg, rgb(84, 101, 210), rgb(1, 122, 131) 76.05%);
  --dark-bg-color: linear-gradient(45deg, rgb(30, 65, 13), rgb(0, 0, 0) 76.05%);
}

.children-wrapper {
  padding: 1em;
  color: #fff;
  margin: 30px;
  max-width: 500px;
  overflow-y: auto;
  border-radius: 10px;
}

.children-wrapper_light {
  background-image: var(--light-bg-color)
}

.children-wrapper_dark {
  background-image: var(--dark-bg-color);
  text-align: center;
}

.children-wrapper_dark h2 {

  color: orangered;
}

.children-wrapper p {
  font-size: 18px;
  line-height: 1.4
}